{% extends 'base.html' %}
{% block content %}
{% for item in news %}
	<div class="container">
		<div class="card">
			<h5 class="card-header">Автор: <a href="{% url 'profile' item.user.pk %}" style="text-decoration:none; color:black;">{{ item.user }}</a></h5>
			<div class="card-body">
				<h5 class="card-title">{{ item.title }}</h5>
				<p class="card-text">{{ item.annotation }}</p>
				<a href="{% url 'news' item.pk %}" class="btn btn-primary">Перейти к новости</a>
			</div>
			<div class="card-footer text-muted">
				{{ item.created_at|date:"d E Y G:i" }}
			</div>
		</div>
	</div>
	<p></p>
{% endfor %}
{% endblock %}